*{
    margin: 0;
    padding: 0;
}
#contenedor{
    width: 1200px;
    height: 1300px;
    background-color: rgba(255, 255, 255, 0);
    margin: 0.5em auto;
    padding: 0.5em;
}
#header{
    height: 10%;
    background-color: hsla(218, 50%, 51%, 0.931);
    margin: 1em;
    border: 10px solid rgb(59, 85, 147);
}
#contenido{
    height: 57%;
    background-color: rgba(251, 251, 251, 0);
    margin: 1em;
}
#footer{
    height: 25%;
    background-color: rgb(134, 102, 187);
    margin: 1em;
    border: 10px solid rgb(87, 64, 127);
}
#aside{
    height: 96%;
    width: 20%;
    background-color: rgb(186, 91, 91);
    float: left;
    margin: 0.3em;
    border: 10px solid rgb(137, 64, 64);
}
#section{
    height: 96%;
    width: 74%;
    background-color: rgb(137, 197, 97);
   float: right;
   margin: 0.3em;
   border: 10px solid rgb(79, 121, 70);

   display: flex;
    flex-direction: row;
}
.articulo{
    width: 96%;
    height: 55%;
    background-color: rgb(245, 167, 65);
    margin: 1.3em 0.6em 1.3em 0.6em;
    border: 10px solid rgb(160, 122, 55);
}